.p,
.p1 {
  margin: 0;
  letter-spacing: 0.12em;
}
.p1 {
  font-size: var(--font-size-109xl);
  letter-spacing: 0.21em;
}
.div2 {
  position: absolute;
  top: 33px;
  left: 628px;
  line-height: 104%;
  font-weight: 500;
  display: inline-block;
  width: 681px;
  height: 242px;
}
.span1 {
  font-weight: 300;
}
.i,
.span2 {
  font-family: var(--font-exo-2);
}
.i {
  font-weight: 300;
}
.span {
  line-height: 138%;
}
.p2 {
  margin: 0;
}
.span6 {
  line-height: 130%;
}
.span7 {
  line-height: 0%;
}
.devops,
.div3,
.div4 {
  position: absolute;
  display: inline-block;
}
.div3 {
  top: 483px;
  left: 631px;
  font-size: var(--font-size-17xl);
  width: 803px;
  height: 183px;
}
.devops,
.div4 {
  letter-spacing: 0.14em;
  line-height: 104.5%;
}
.div4 {
  top: 200px;
  left: 687px;
  font-weight: 500;
  color: var(--color-orange-200);
  width: 652px;
  height: 213px;
}
.devops {
  top: 344px;
  left: 631px;
  font-size: var(--font-size-56xl);
  font-weight: 300;
  width: 766px;
  height: 99px;
}
.child,
.div5 {
  position: absolute;
  top: -209px;
  left: -243px;
  width: 1053px;
  height: 1138px;
}
.div5 {
  top: 218px;
  left: 13px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 535px;
  height: 225px;
}
.div1,
.item {
  position: absolute;
  top: 793.5px;
  left: 632.5px;
  width: 109.03px;
  height: 72.03px;
}
.div1 {
  top: 209px;
  left: 243px;
  width: 1434px;
  height: 864.03px;
  font-size: var(--font-size-77xl);
}
.skills {
  position: undefined;
  letter-spacing: 0.19em;
  line-height: 104.5%;
  font-weight: 300;
  display: inline-block;
  width: 766px;
  height: 142px;
  flex-shrink: 0;
  text-shadow: 16px 13px 4px rgba(255, 184, 0, 0.32);
  margin-left: 398px;
}
.hardChild {
  position: absolute;
  top: 2px;
  left: 455px;
  border-radius: 50%;
  background-color: rgba(255, 184, 0, 0.75);
  filter: blur(4px);
  width: 350px;
  height: 350px;
}
.hard1 {
  position: absolute;
  top: 120px;
  left: 513px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  display: inline-block;
  width: 233px;
  height: 113px;
}
.hardItem {
  position: absolute;
  top: -12px;
  left: 0;
  width: 530px;
  height: 400px;
}
.hard {
  position: relative;
  width: 805px;
  height: 388px;
}
.softChild {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.9);
  border: 1px solid rgba(255, 184, 0, 0.9);
  box-sizing: border-box;
  width: 351px;
  height: 351px;
}
.soft1 {
  position: absolute;
  top: 124px;
  left: 68px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  display: inline-block;
  width: 214px;
  height: 101px;
}
.softItem {
  position: absolute;
  top: -8px;
  left: 317px;
  width: 530px;
  height: 400px;
}
.soft {
  position: relative;
  width: 847px;
  height: 392px;
  margin-left: -59px;
}
.div6,
.hardParent {
  width: 1593px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hardParent {
  height: 392px;
  flex-direction: row;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
}
.div6 {
  top: 2363px;
  left: 162px;
  height: 600px;
  flex-direction: column;
  gap: 66px;
  text-align: center;
}
.div6,
.div7,
.inner {
  position: absolute;
}
.inner {
  top: 158px;
  left: 1239px;
  border-top: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 405px;
  height: 4px;
}
.div7 {
  top: 32px;
  left: 1140px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.14em;
  line-height: 104.5%;
  font-weight: 300;
  text-align: right;
  display: inline-block;
  width: 458px;
  height: 77px;
}
.ellipseIcon {
  position: absolute;
  top: -247px;
  left: 328px;
  width: 369px;
  height: 1179px;
}
.div9 {
  width: 620px;
  height: 117px;
}
.div10,
.div9,
.downloadCv {
  position: relative;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  display: inline-block;
  flex-shrink: 0;
}
.div10 {
  font-size: var(--font-size-29xl);
  font-weight: 500;
  width: 703px;
  height: 395px;
}
.downloadCv {
  font-weight: 600;
  width: 473px;
  height: 69px;
}
.downloadCvWrapper {
  background-color: var(--color-gainsboro-200);
  box-shadow: 16px 21px 4px rgba(255, 255, 255, 0.52);
  border: 8px solid var(--color-white);
  box-sizing: border-box;
  width: 473px;
  height: 132px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xl) 0;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-31xl);
}
.frame,
.frameIcon {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame {
  left: 632px;
  width: 703px;
  height: 808px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 82px;
}
.frameIcon {
  left: 1434px;
  width: 838.61px;
  height: 706.72px;
}
.div11,
.div8 {
  position: absolute;
  top: 3190px;
  left: -328px;
  width: 2272.61px;
  height: 808px;
}
.div11 {
  top: 0;
  left: 432.99px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  font-weight: 300;
  display: inline-block;
  width: 934px;
  height: 152px;
}
.github1Icon,
.telegram1Icon,
.vk1Icon {
  position: absolute;
  top: 337px;
  left: 470.99px;
  border-radius: var(--br-16xl);
  width: 148px;
  height: 148px;
  object-fit: cover;
}
.telegram1Icon,
.vk1Icon {
  left: 825.99px;
}
.vk1Icon {
  left: 1180.99px;
}
.div12,
.robertlohmailru {
  position: relative;
  letter-spacing: 0.14em;
  line-height: 281%;
  display: inline-block;
  height: 206px;
  flex-shrink: 0;
}
.div12 {
  font-weight: 300;
  width: 687.55px;
}
.robertlohmailru {
  text-align: right;
  width: 639.45px;
}
.group {
  position: absolute;
  top: 0;
  left: 243.99px;
  height: 206px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 53px;
  left: 0;
  width: 249.48px;
  height: 451.81px;
}
.frameItem {
  top: 115px;
  left: 1535.99px;
  width: 343.67px;
  height: 390.01px;
}
.frame1,
.parent {
  position: absolute;
  width: 1879.66px;
}
.frame1 {
  bottom: 0;
  left: 0;
  height: 505.01px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  font-family: var(--font-inter);
}
.parent {
  top: 4225px;
  left: 60.01px;
  height: 710.01px;
  text-align: center;
}
.div14,
.div15 {
  position: absolute;
  top: 148px;
  left: 1035px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  font-weight: 500;
  display: inline-block;
  width: 703px;
  height: 395px;
}
.div15 {
  top: 597px;
  left: 409px;
  width: 1344px;
}
.trianglesIcon {
  position: absolute;
  top: 242px;
  left: 1733px;
  width: 430.3px;
  height: 499.24px;
}
.frameInner,
.groupIcon {
  position: absolute;
  top: 501px;
  left: 99px;
  width: 403.51px;
  height: 395.22px;
}
.frameInner {
  top: 21.65px;
  left: 167.2px;
  width: 575.58px;
  height: 451px;
}
.polygonIcon {
  top: 12.57px;
  left: 7.04px;
  width: 359.27px;
  height: 444.83px;
}
.div16,
.frame2,
.polygonIcon {
  position: absolute;
}
.div16 {
  top: 155.57px;
  left: 135.04px;
  letter-spacing: 0.14em;
  line-height: 104.5%;
  font-weight: 500;
  display: inline-block;
  width: 392px;
  height: 226px;
}
.frame2 {
  top: 7.14px;
  left: 109.58px;
  width: 527.04px;
  height: 457.41px;
  overflow: hidden;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: 267px;
  width: 736.12px;
  height: 641.32px;
  font-size: var(--font-size-61xl);
}
.div13 {
  position: absolute;
  bottom: 2826px;
  left: -99px;
  width: 2163.3px;
  height: 992px;
  font-size: var(--font-size-29xl);
}
.div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 4985px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-exo-2);
}
