<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-contact.css">
    <link rel="stylesheet" href="../styles/page_reload.css">
    <link rel="stylesheet" href="../styles/style-achievements.css">
    <title>Document</title>
</head>
<body>
    <div class="preloader">
        <div class="preloader__row">
          <div class="preloader__item"></div>
          <div class="preloader__item"></div>
        </div>
    </div>

    <section class="achievements-block">
        <h1 class="title" style="padding-left: 16vw;">ДРУГИЕ ДОСТИЖЕНИЯ</h1>
        <div style="display: flex; flex-direction: row;">
            <ul class="achievements-list">
                <li class="achivement ach1">Финал Tinkoff Solution cup (направление SRE)</li>
                <li class="achivement ach2">Победитель хакатона в Сириусе в кейсе от ОЦРВ</li>
                <li class="achivement ach3">Призер Неймарк Хакатона 2023</li>
                <li class="achivement ach4">Участник всероссийских конкурсов</li>
                <li class="achivement ach5">Активный волонтер в Сириусе</li>
            </ul>
            <div class="box-cup">
                <img src="../images/Group 1321314695.svg" alt="cup">
            </div>
        </div>
    </section>

    <section class="contacts-block">
        <img src="../images/Group 14.svg" alt="triangles" class="contact-triangles-left">
        <div class="contact-info">
            <h1 class="title">КОНТАКТЫ</h1>

            <div class="contact-text">
                <div class="contact-text-block" style="font-family: 'Inter Light';">
                    Номер телефона:
                    <br>Электронная почта:</br>
                </div>
                <div class="contact-text-block" style="font-family: 'Inter'; text-align: right;">
                    +7 (922) 264-82-58
                    <br>robertstryzhak@yandex.ru</br>
                </div>
            </div>
            <div class="social-icons">
                <img src="../images/github-svgrepo-com 1.svg" alt="github link" style="width: 7vw;">
                <img src="../images/telegram-logo-svgrepo-com 1.svg" alt="telegram link" style="width: 7vw;">
                <img src="../images/Group 1321314680.svg" alt="vk link" style="width: 7vw;">
            </div>
        </div>
        <img src="../images/Group 13.svg" alt="triangles" class="contact-triangles-right">
    </section>
    <script src="../scripts/page_reload.js"></script>
</body>
</html>