
body{
    background-color: black;
    color: whitesmoke;
}

@font-face {
    font-family: "Exo 2 Light";
    font-style: normal;
    src: url('../fonts/Exo 2/static/Exo2-Light.ttf');
}

@font-face {
    font-family: "Inter Light";
    font-style: normal;
    src: url('../fonts/Inter/static/Inter-Light.ttf');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

.contacts-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding-left: 15%;
    padding-right: 15%; */
    width: 60%;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17%;
    /* gap: 207px; */

    padding: 5%;
    padding-top: 10%;
}

.contact-title{
    position: relative;
    text-align: left;
    font-family: "Exo 2 Light";
    font-weight: 600;
    font-size: 5vw;
    line-height: 104.5%;
    letter-spacing: 0.7vw;
}

.contact-text{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-text-block{
    display: inline-block;
    width: 50%;
    font-size: 1.85vw;
    line-height: 200%;
}

.contact-triangles-left{
    position: relative;
    bottom: -4vw;
    width: 13%;
}
.contact-triangles-right{
    position: relative;
    bottom: -6.65vw;
    width: 20vw;
    left: -2%;
}