.robert-block{
    /* margin: 5vh 0 20vh 10%; */
    margin: 3vw 5vw 0 6vw;
}

.robert-main-block{
    display: flex; 
    flex-direction: row;
}

.robert-img{
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 45vw;
} 

.robert-img img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50vw;
    object-fit:cover;
}

.robert-text{
    display: flex; 
    flex-direction: column; 
    gap: 1.5vw; 
    justify-content: start; 
    margin-top: 5vw;
    
    position: relative;
    left: -2vw;
    height: 35vw;
}

.robert-title{
    font-family: "Exo 2";
    font-weight: 500;
    line-height: 104%;
    font-size: 4vw;
    letter-spacing: 0.5vw;
    margin: 0;
}

.otchestvo{
    color: rgba(255, 184, 0, 0.32);
    font-family: "Exo 2";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 104.5%;
    letter-spacing: 28%;
    margin: 0;

    position: relative;
    left: 4.5%;
    bottom: -80%;
    z-index: -1;
}

.devops-title{
    font-family: "Exo 2 Light";
    font-weight: 300;
    line-height: 104%;
    font-size: 4vw;
    margin: 1vw 0 1vw 0;
}

.description{
    font-size: 2vw;
    font-family: "Exo 2 Light";
    font-weight: 200;
    line-height: 150%;
    margin: 0;
}


.arrow-8 {
    position: relative;
    width: 5vw;
    height: 5vw;
    margin: 0 auto 2vw auto;
}

.arrow-8:before,
.arrow-8:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 0.4vw solid rgba(255, 184, 0, 0.90);
    border-bottom: 0.4vw solid rgba(255, 184, 0, 0.90);
    border-radius: 0.1vw;
    animation: arrow-8 3s linear infinite;
}

.arrow-8:after {
    animation: arrow-8 3s linear infinite -1s;
}

@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -5.3vw) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 5.3vw) rotate(-45deg);
    }
}