
.work-experience{
    padding-left: 11vw;
}

.work-experience-title-outer {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.work-block {
    overflow: hidden;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 2vw 5vw 2vw;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding: 0 50px;
    height: max-content;

    overflow: hidden;
    width: min-content;
    transition: transform .5s;
}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    border: 1px solid #FFF;
    border-radius: 1.5vw 1.5vw 0 0;
    width: 75%;
    height: 20%;
    padding: 5% 5% 7% 5%;

    position: relative;
    top: 1%;

    font-family: "Exo 2";
    font-size: 3vw;
    font-weight: 500;
}

.card-body{
    color: black;
    background-color: #EDEDED;
    width: 32vw;
    border-radius: 1.5vw;
    padding: 1.75vw;

    margin-bottom: 2vw;
    transition: box-shadow .4s, transform .5s;
}

.card-title{
    font-size: 2.5vw;
    font-family: "Exo 2";
    font-weight: 500;
    margin: 0;
    padding-left: 6%;
}

.card-text{
    font-size: 1.7vw;
    font-family: "Exo 2";
    font-weight: 400;
    margin-top: 5%;
}

.cards-dotes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    
    position: relative;
    transform: translateY(-50%);
}

.dote{
    transition: background-color .3s, box-shadow .3s;
    border-radius: 100%;
    background-color: white;
    box-shadow: white 0 0 0.5vw;
    filter: blur(calc(0.1 * var(--index)));

    width: 2vw;
    height: 2vw;
}

.company:before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url("../images/Ellipse\ 9.svg");
    background-size: cover;
    background-position-y: 20%;
    opacity: 0;
    transition: opacity .5s;
}

.active .company:before {
    opacity: 1;
}

.active .card-body{
    overflow: visible;
    box-shadow: #FFB800 0 0 3vw;
    border-radius: 1.5vw;
    transform: scale(1.05, 1.05) translateY(-1vw);
}

.active-dote {
    border-radius: 100%;
    background-color: #FFB800;
    box-shadow: #FFB800 0 0 0.5vw;
    filter: blur(calc(0.15 * var(--index)));

    width: 2vw;
    height: 2vw;
}
