@font-face {
    font-family: "Exo 2";
    font-style: normal;
    src: url('../fonts/Exo 2/static/Exo2-Medium.ttf');
}

.achievements-list{
    padding-left: 10vw;
    list-style-type: none;
    white-space: nowrap;
}

.achivement{
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 2vw;
    line-height: 2.25;
    padding-left: 3vw;
    background-position: 0 50%;
    background-size: 2vw 2vw;
    background-repeat: no-repeat;
}
.ach1{
    background-image: url("../images/Polygon\ 9.svg");
}
.ach2{
    background-image: url("../images/Polygon\ 10.svg");
}
.ach3{
    background-image: url("../images/Polygon\ 11.svg");
}
.ach4{
    background-image: url("../images/Polygon\ 12.svg");
}
.ach5{
    background-image: url("../images/Polygon\ 13.svg");
}
.achivement-triangle{
    width: 20vw;
}
.box-cup{
    position: relative;
    overflow: visible;
    width:35vw;
}

.box-cup img{
    position: absolute;
    top:55%;
    left:40%;
    transform:translate(-50%,-50%);
    width:40vw;
    object-fit:cover;
}