.contacts-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 60%;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17%;
    /* gap: 207px; */

    padding: 5%;
    padding-top: 10%;
}

.contact-text{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-text-block{
    display: inline-block;
    width: 50%;
    font-size: 1.85vw;
    line-height: 200%;
}

.contact-triangles-left{
    position: relative;
    bottom: -4vw;
    width: 13%;
}
.contact-triangles-right{
    position: relative;
    bottom: -6.65vw;
    width: 20vw;
    left: -2%;
}