.achievements-list{
    padding-left: 13vw;
    list-style-type: none;
    white-space: nowrap;
    margin-top: 3vw;
}

.achivement{
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 2vw;
    line-height: 2.25;
    padding-left: 3vw;
    background-position: 0 50%;
    background-size: 2vw 2vw;
    background-repeat: no-repeat;
}
.ach1{
    background-image: url("../images/Polygon\ 9.svg");
}
.ach2{
    background-image: url("../images/Polygon\ 10.svg");
}
.ach3{
    background-image: url("../images/Polygon\ 11.svg");
}
.ach4{
    background-image: url("../images/Polygon\ 12.svg");
}
.ach5{
    background-image: url("../images/Polygon\ 13.svg");
}
.achivement-triangle{
    width: 20vw;
}
.box-cup{
    position: relative;
    overflow: visible;
    width:45vw;
    margin-top: 9vw;
}

.box-cup img{
    position: absolute;
    top:55%;
    left:35%;
    transform:translate(-50%,-50%);
    width:45vw;
    object-fit:cover;
}