body{
    background-color: black;
    color: whitesmoke;
    cursor: url("../images/icon-cursor.png"), url("../images/icon-tap.png"), default;
    margin: 0;
}

@font-face {
    font-family: "Exo 2 Light";
    font-style: normal;
    src: url('../fonts/Exo 2/static/Exo2-Light.ttf');
}

@font-face {
    font-family: "Inter Light";
    font-style: normal;
    src: url('../fonts/Inter/static/Inter-Light.ttf');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: "Exo 2";
    font-style: normal;
    src: url('../fonts/Exo 2/static/Exo2-Medium.ttf');
}

.title{
    font-family: "Exo 2 Light";
    font-weight: 600;
    font-size: 4vw;
    line-height: 104.5%;
    letter-spacing: 0.7vw;
    margin-bottom: 1.75vw;
}