.about-block{
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.about-text{
    /* padding-left: 16w; */
    position: relative;
    left: -5%;
}

.about-ellipse{
    position: relative;
    overflow: visible;
    margin: 0;
    width: 16vw;
    height: 30vw;
}

.about-ellipse img{
    position: relative;
    top: 50%;
    left: 60%;
    transform:translate(-50%,-50%);
    width: 50vw;
    height: 60vw;
}

.about-subtext{
    padding: 1% 0 0 5vw;
    width: 85%;

    font-family: "Exo 2";
    font-weight: 500;
    line-height: 1.15;
    font-size: 2vw;
}

.about-robert{
    position: relative;
}

.about-robert img{
    position: relative;
    bottom: 0%;
    height: 35vw;
}

.about-triangles{
    position: relative;
    height: max-content;
}

.about-triangles img{
    height: 30vw;
}

.download-pdf{
    display: inline-block;
    margin-bottom: 5%;

    color: white;
    border-radius: 8px;
    border: 0.4vw solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 1vw 1.2vw 0.2vw -0.3vw black,
                1.2vw 1.4vw 0.2vw 0 rgba(255, 255, 255, 0.4);

    padding: 3%;

    font-size: 2.2vw;
    font-weight: 600;
    letter-spacing: 0.4vw;
    text-decoration: none;

    animation-name: reverse-download-slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.download-pdf:hover{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: download-slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.download-pdf:active{
    color: rgba(255, 184, 0, 0.8);
    border-color: #ffffffbf;
}

@keyframes download-slide{
    from {
        margin-bottom: 5%;
        box-shadow: 1vw 1.2vw 0.2vw -0.3vw black,
                    1.2vw 1.4vw 0.2vw 0 rgba(255, 255, 255, 0.4);
        padding: 3%;
    } to {
        margin-top: 3%;
        margin-bottom: 2%;
        box-shadow: 1.2vw 2vw 0.2vw -0.3vw black,
                    1.4vw 2.2vw 0.2vw 0 rgba(255, 255, 255, 0.8);
        padding: 3%;
    }
}

@keyframes reverse-download-slide{
    from {
        margin-top: 3%;
        margin-bottom: 2%;
        box-shadow: 1.2vw 2vw 0.2vw -0.3vw black,
                    1.4vw 2.2vw 0.2vw 0 rgba(255, 255, 255, 0.8);
        padding: 3%;
    } to {
        margin-bottom: 5%;
        box-shadow: 1vw 1.2vw 0.2vw -0.3vw black,
                    1.2vw 1.4vw 0.2vw 0 rgba(255, 255, 255, 0.4);
        padding: 3%;
    } 
}